.stock-card {
  border: 1px solid #005a50;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
    background-color: #f9f9f9;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  max-width: 700px;
  max-height: 100px;
  margin: auto;
  margin-top: 10px;
}

.stock-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.354);
}
.card-container{
  margin-top: 1em;
}
.stock-details {
  display: flex;
  flex-direction: column;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stock-name {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
}

.stock-listed-price {
  font-size: 0.9em;
  color: #666;
  margin-top: 8px;
}

.stock-metrics {
  display: flex;
  gap: 24px;
  
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-value {
  font-size: 1.4em;
  font-weight: bold;
  color: #2e8b57;
}

.metric-label {
  font-size: 0.75em;
  color: #888;
  margin-top: 2px;
}


