

<style>
  .central-block {
  max-width: 940px;         /* Adjust width as needed */
  margin: 0 auto;           /* Center horizontally */
  padding: 1.2em 2em;            /* Optional spacing */
  background-color: #ffffff;   /* Optional background */
  box-shadow: 0 2px 8px rgba(87, 87, 87, 0.1); /* Optional shadow */
}
.home-wrapper{
    background-image: url("../../css/images/bg1.jpg");
    /* Background color for center */
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
</style>
<div class="home-wrapper">
<div class="oj-hybrid-padding central-block">
  <say-hero></say-hero>  
<stock-card></stock-card>
<!-- <stock-dailog ></stock-dailog> -->



</div>
</div>